body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #27353b;
    
}

header nav .left{
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    justify-content: space-between;
}

header .left .brand{
    margin-left: 1rem;
    color: white;
}

header .left .brand:hover{
    color: turquoise;
    cursor: pointer;
}

header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: 'Changa', sans-serif;
    font-size: 1rem;
}

header nav .left a:hover{
    color: turquoise;
    transition: all ease 0.3s;
}


/* Hamburger Menu Section*/
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}

.menu-toggle{
    display:none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
   
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0; /*Sumbu Poros x dan y*/
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%; /*Sumbu Poros x dan y*/
}

.menu-toggle input:checked ~ span:nth-child(2){
  transform:rotate(45deg) translate(-1px, -1px );
}

.menu-toggle input:checked ~ span:nth-child(3){
  transform:scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4){
  transform:rotate(-45deg) translate(-1px, 0px );
}


/* JUMBOTRON */
.jumbotron{
    height: 360px;
    /* background: linear-gradient(#27353b, #2c5364); */
    background-color:#27353b;
    width: 100%;
    padding: 8rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.jumbotron h1{
    font-size: 58px;
    color: white;
    font-family: 'Changa', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 2px black; 
}

.jumbotron .display-4{
    margin-top: -23px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-shadow: 0px 0px 2px black; 
}


.jumbotron .display-4 .btn-outline-secondary{
    color:white;
    background: transparent;
    text-transform: uppercase;
    text-shadow:none;
    font-size: 12px;
    margin: -10px;
    
}

.jumbotron .display-4 .btn-outline-secondary:hover{
    background: whitesmoke;
    color: black;
}

.contact .contact-text{
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
}

.contact .contact-text.muncul{
    opacity: 1;
    transform: translate(0,0px);
}


.jumbtron .effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.contact{
    min-height: 600px;
    margin-top: 55px;
    font-family: 'Changa', sans-serif;  
    position: relative;
}

.contact-text h1{
    font-size: 33px;
}

.panel{
    text-align: center;
    padding: 20px;
    margin: 50px 20px;
    transform: translate(0, -40px); 
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}

.panel h1{ 
    margin-top: 20px;
    font-size: 20px;
}

.panel i{
    margin-top: 10px;
    font-size: 25px;
}


.panel .panel-item.muncul{
    opacity: 1;
    transform: translate(0,0px);
}

.formulir{
    margin-top: 25px;
    min-height: 370px;
 }

.formulir h1{
     font-size: 33px;
     margin-bottom: 20px;
 }

.formulir .form-floating{
    margin-bottom: 18px;
}


.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

footer{
    margin-top: 100px;
    background-color:#27353b;
    display: block;
    padding: 1rem;
    font-family: 'Changa', sans-serif;
   
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: turquoise;
    text-decoration: none;
}


.darkmode{
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #111;
    height: 28px;
    width: 53px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.fa-moon{
    color: rgb(255, 166, 0);
}

.fa-sun{
    color: yellow;
}

.ball{
    background-color: #fff;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition:  transform 0.3s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}


/* DARK MODE */

#darkmode{
    background-color: #201f1f;
    color: white;
}

#darkmode header nav .left{
    background-color:  #242424;
    
}

#darkmode header nav .left .menu{
    background-color:  #242424;
    
}

#darkmode .jumbotron{
    background-color:  #242424;
    
}

#darkmode .panel{
    background-color:#242424;
    color: white;
    box-shadow: 0px 0px 2px rgba(255, 253, 253, 0.3)
}

#darkmode .panel-item{
    background-color:#242424;
    color: white;
    box-shadow: 0px 0px 2px rgba(255, 253, 253, 0.3)
}

#darkmode footer{
    background-color:#242424;
    color: white;
}

#darkmode .formulir .form-control{
    background-color: #242424;
    color: white;
    border: black;
}

#darkmode .formulir .btn-kirim{
    background-color: #242424;
    color: white;
}

#darkmode .formulir .btn-loading{
    background-color: white;
    color: black;
}


/* Tablet */
@media (max-width: 768px){
  
}

/* Tablet */

@media (max-width: 576px) {

    header nav .left .menu {
        display: flex;
        flex-direction: column;
        background-color:#27353b;
        position: fixed;
        top: 54px;
        right: 0;
        height: 100vh;
        width: 60%;
        z-index: 1;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%); 
        transition: ease 0.5s;
    }

    .menu-toggle{
        display: flex;
    }

    
    header nav .left .menu.slide{
        transform: translateX(0);
        opacity: 1;
    }


    .jumbotron{
        height: 346px;
        padding: 4rem;
        
    }

    .jumbotron h1, h2{
        margin-top: 48px;
        font-size: 35px;
    }

    .jumbotron .display-4 .btn-outline-secondary{
        color:white;
        background: transparent;
        text-transform: uppercase;
        text-shadow:none;
        font-size: 12px;
        margin: 30px 0px;
        
    }

    .panel{
        margin: 20px;
        width: 80%;
    }

    .effect-3{ 
        left: 28%;
        top: -27%;
      
     } 

     .contact-text h1{
         margin-bottom: 8%;
     }

     .formulir h1{
         margin-top: -20px;
     }
     

}


@media(max-width: 376px){
.jumbotron .display-4 .btn-outline-secondary{
    margin: -3px;
    margin-top: 30px;
    font-size: 12px;
    
}

}
